<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">

    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-info" role="navigation">
        <div class="navbar-brand">
            <a href="/upload_image" class="navbar-item">Upload image</a>
            <a class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>

    <div class="navbar-menu">
        <div class="navbar-end">

        </div>
    </div>

    <section class="section">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>